<mat-card class="todo-card">
  <mat-form-field appearance="fill" class="todo-input">
    <mat-label>New Task</mat-label>
    <input matInput [(ngModel)]="newTask" (keyup.enter)="addTask()">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addTask()">Add Task</button>
  
  <mat-list>
    <mat-list-item *ngFor="let task of tasks; let i = index">
      <mat-checkbox [(ngModel)]="task.completed"></mat-checkbox>
      <span [class.completed]="task.completed">{{ task.name }}</span>
      <button mat-icon-button color="warn" (click)="removeTask(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
